    body{
        background-color: darkblue;    
    }

    .container{
        margin-top: 20px;
        margin-bottom: 40px;
        }
    
    .row * {
        border-radius: 12px !important;
        }    

    .col-sm-3{
        padding-top: 15px;
        }

    .col-sm-9{
        padding-bottom: 25px;
        }

    .center{
        text-align: center;
        }

    .rot_txt{
        padding-top: 5px;
        padding-bottom: 8px;
        transform: function;
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        writing-mode: lr-tb;
        }

    .btn{
        background-color: darkblue;
        }
    
    .btn:hover{
            background-color: red !important;
        }